<html>
    <head>
        <title>Vue.js-lifecycle hooks</title>
        <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12"></script>
    </head>
    <body>
        <div id="app">
            <h1>{{ message }}</h1>
            <ul>
                <li v-for="todo in todos">
                    {{ todo.text }}
                </li>
            </ul>
            <span v-if="seen">Now you see me</span>
        </div>
    </body>
    <script>
        var myObject = new Vue({
            el: '#app',
            data: {
                message: 'Hello Vue!',
                seen: true,
                todos: [
                    { text: 'Learn JavaScript' },
                    { text: 'Learn Vue.js' },
                    { text: 'Build Something Awesome' }
                ]
            },
            // lifecycle hooks
            beforeCreate(){
                alert('beforeCreate');
            },
            created(){
                alert('created');
            },
            beforeMount(){
                alert('beforeMount');
            },
            mounted(){
                alert('Mounted');
            },
            beforeUpdate(){
                alert('beforeUpdate');
            },
            updated(){
                alert('updated');
            }
        });
    </script>
</html>