<html>
    <head>
        <title>Vue.js-lifecycle hooks</title>
        <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12"></script>
    </head>
    <body>
        <div id="app">
            <h1>{{ message }}</h1>
            <ul>
                <li v-for="todo in todos">
                    {{ todo.text }}
                </li>
            </ul>
            <span v-if="seen">Now you see me</span>
        </div>
    </body>
    <script>
        var myObject = new Vue({
            el: '#app',
            data: {
                message: 'Hello Vue!',
                seen: true,
                todos: [
                    { text: 'Learn JavaScript' },
                    { text: 'Learn Vue.js' },
                    { text: 'Build Something Awesome' }
                ],
                aplha : 1,
                myname : 'A',
            },
            // lifecycle hooks
            beforeCreate(){
                let ch = 'A';
                this.myname = this.myname + ch;
                console.log(this.myname);
                console.log('aplha', (this.aplha-1));
            },
            created(){
                let ch = 'S';
                this.myname = this.myname + ch;
                console.log(this.myname);
                console.log('aplha', (this.aplha + 1));
            },
            beforeMount(){
                let ch = 'H';
                this.myname = this.myname + ch;
                console.log(this.myname);
                console.log('aplha', (this.aplha - 2));
            },
            mounted(){
                let ch = 'I';
                this.myname = this.myname + ch;
                console.log('aplha', (this.aplha + 2));
                console.log(this.myname);
            },
            beforeUpdate(){
                let ch = 'S';
                this.myname = this.myname + ch;
                console.log('aplha', (this.aplha - 1));
                console.log(this.myname);
            },
            updated(){
                let ch = 'H';
                this.myname = this.myname + ch;
                console.log('aplha', (this.aplha + 2));
                console.log(this.myname);
            }
        });
    </script>
</html>